<div class="container">
	<div class="row">
		<div data-component="grid" data-component-path="grid.datasource" data-options-page="Page #" data-max="20" data-options-button="Show more components" data-component-id="grid">
			<script type="text/html">
				<div class="col-sm-3 col-xs-6 component" data-id="{{ linker }}">
					<div class="component-picture"><img src="{{ picture }}" alt="{{ name }}" border="0" class="img-responsive" /></div>
					<div class="component-title">
						<span class="component-color" style="background-color:{{ color }}"></span>
						<span>{{ name }}</span>
					</div>
					<div class="component-info"><span class="fa fa-bookmark"></span> {{ if responsive }}, <span class="fa fa-expand"></span> responsive{{ fi }}</div>
				</div>
			</script>
		</div>
	</div>
</div>

<script>
ON('#grid', function(component) {
	component.next = function(page) {
		grid.filter.page = page;
		AJAX('GET /api/components/', grid.filter, function(response) {
			SET('+grid.datasource', response);
		});
	};
});
</script>